{
  "openapi": "3.1.0",
  "info": {
    "title": "Matomo API",
    "summary": "Matomo reporting API",
    "description": "Complete Matomo reporting API documentation",
    "version": "5.0.0"
  },
  "externalDocs": {
    "description": "Official Matomo doc",
    "url": "https:\/\/developer.matomo.org\/api-reference\/reporting-api"
  },
  "servers": [
    {
      "url": "https:\/\/demo.matomo.cloud\/",
      "description": "The Matomo demo server"
    }
  ],
  "tags": [
    {
      "name": "API",
      "description": "  This API is the <a href='http:\/\/matomo.org\/docs\/analytics-api\/metadata\/' rel='noreferrer' target='_blank'>Metadata API<\/a>: it gives information about all other available APIs methods, as well as providing human readable and more complete outputs than normal API methods.  Some of the information that is returned by the Metadata API: <ul> <li>the dynamically generated list of all API methods via \"getReportMetadata\"<\/li> <li>the list of metrics that will be returned by each method, along with their human readable name, via \"getDefaultMetrics\" and \"getDefaultProcessedMetrics\"<\/li> <li>the list of segments metadata supported by all functions that have a 'segment' parameter<\/li> <li>the (truly magic) method \"getProcessedReport\" will return a human readable version of any other report, and include the processed metrics such as conversion rate, time on site, etc. which are not directly available in other methods.<\/li> <li>the method \"getSuggestedValuesForSegment\" returns top suggested values for a particular segment. It uses the Live.getLastVisitsDetails API to fetch the most recently used values, and will return the most often used values first.<\/li> <\/ul> The Metadata API is for example used by the Matomo Mobile App to automatically display all Matomo reports, with translated report & columns names and nicely formatted values. More information on the <a href='http:\/\/matomo.org\/docs\/analytics-api\/metadata\/' rel='noreferrer' target='_blank'>Metadata API documentation page<\/a>   "
    },
    {
      "name": "Actions",
      "description": "  The Actions API lets you request reports for all your Visitor Actions: Page URLs, Page titles, Events, Content Tracking, File Downloads and Clicks on external websites.  For example, \"getPageTitles\" will return all your page titles along with standard <a href='http:\/\/matomo.org\/docs\/analytics-api\/reference\/#toc-metric-definitions' rel='noreferrer' target='_blank'>Actions metrics<\/a> for each row.  It is also possible to request data for a specific Page Title with \"getPageTitle\" and setting the parameter pageName to the page title you wish to request. Similarly, you can request metrics for a given Page URL via \"getPageUrl\", a Download file via \"getDownload\" and an outlink via \"getOutlink\".  Note: pageName, pageUrl, outlinkUrl, downloadUrl parameters must be URL encoded before you call the API.   "
    },
    {
      "name": "Annotations",
      "description": "  API for annotations plugin. Provides methods to create, modify, delete & query annotations.   "
    },
    {
      "name": "ChatGPT",
      "description": " \r API for plugin ChatGPT\r \r   "
    },
    {
      "name": "Contents",
      "description": "  API for plugin Contents   "
    },
    {
      "name": "CoreAdminHome",
      "description": "   "
    },
    {
      "name": "CorePluginsAdmin",
      "description": "  API for plugin CorePluginsAdmin   "
    },
    {
      "name": "CustomDimensions",
      "description": "  The Custom Dimensions API lets you manage and access reports for your configured Custom Dimensions.   "
    },
    {
      "name": "CustomJsTracker",
      "description": "  API for plugin CustomJsTracker   "
    },
    {
      "name": "Dashboard",
      "description": "  This API is the <a href='http:\/\/matomo.org\/docs\/analytics-api\/reference\/' rel='noreferrer' target='_blank'>Dashboard API<\/a>: it gives information about dashboards.   "
    },
    {
      "name": "DevicePlugins",
      "description": "  The DevicePlugins API lets you access reports about device plugins such as browser plugins.   "
    },
    {
      "name": "DevicesDetection",
      "description": "  The DevicesDetection API lets you access reports on your visitors devices, brands, models, Operating system, Browsers.   "
    },
    {
      "name": "Events",
      "description": "  The Events API lets you request reports about your users' Custom Events.  Events are tracked using the Javascript Tracker trackEvent() function, or using the [Tracking HTTP API](http:\/\/developer.matomo.org\/api-reference\/tracking-api).  <br\/>An event is defined by an event category (Videos, Music, Games...), an event action (Play, Pause, Duration, Add Playlist, Downloaded, Clicked...), and an optional event name (a movie name, a song title, etc.) and an optional numeric value.  <br\/>This API exposes the following Custom Events reports: <code>getCategory<\/code> lists the top Event Categories, <code>getAction<\/code> lists the top Event Actions, <code>getName<\/code> lists the top Event Names.  <br\/>These Events report define the following metrics: nb_uniq_visitors, nb_visits, nb_events. If you define values for your events, you can expect to see the following metrics: nb_events_with_value, sum_event_value, min_event_value, max_event_value, avg_event_value  <br\/>The Events.get* reports can be used with an optional <code>&secondaryDimension<\/code> parameter. Secondary dimension is the dimension used in the sub-table of the Event report you are requesting.  <br\/>Here are the possible values of <code>secondaryDimension<\/code>: <ul> <li>For <code>Events.getCategory<\/code> you can set <code>secondaryDimension<\/code> to <code>eventAction<\/code> or <code>eventName<\/code>.<\/li> <li>For <code>Events.getAction<\/code> you can set <code>secondaryDimension<\/code> to <code>eventName<\/code> or <code>eventCategory<\/code>.<\/li> <li>For <code>Events.getName<\/code> you can set <code>secondaryDimension<\/code> to <code>eventAction<\/code> or <code>eventCategory<\/code>.<\/li> <\/ul>  <br\/>For example, to request all Custom Events Categories, and for each, the top Event actions, you would request: <code>method=Events.getCategory&secondaryDimension=eventAction&flat=1<\/code>. You may also omit <code>&flat=1<\/code> in which case, to get top Event actions for one Event category, use <code>method=Events.getActionFromCategoryId<\/code> passing it the <code>&idSubtable=<\/code> of this Event category.    "
    },
    {
      "name": "Feedback",
      "description": "  API for plugin Feedback   "
    },
    {
      "name": "Goals",
      "description": "  Goals API lets you Manage existing goals, via \"updateGoal\" and \"deleteGoal\", create new Goals via \"addGoal\", or list existing Goals for one or several websites via \"getGoals\"  If you are <a href='http:\/\/matomo.org\/docs\/ecommerce-analytics\/' target='_blank'>tracking Ecommerce orders and products<\/a> on your site, the functions \"getItemsSku\", \"getItemsName\" and \"getItemsCategory\" will return the list of products purchased on your site, either grouped by Product SKU, Product Name or Product Category. For each name, SKU or category, the following metrics are returned: Total revenue, Total quantity, average price, average quantity, number of orders (or abandoned carts) containing this product, number of visits on the Product page, Conversion rate.  By default, these functions return the 'Products purchased'. These functions also accept an optional parameter &abandonedCarts=1. If the parameter is set, it will instead return the metrics for products that were left in an abandoned cart therefore not purchased.  The API also lets you request overall Goal metrics via the method \"get\": Conversions, Visits with at least one conversion, Conversion rate and Revenue. If you wish to request specific metrics about Ecommerce goals, you can set the parameter &idGoal=ecommerceAbandonedCart to get metrics about abandoned carts (including Lost revenue, and number of items left in the cart) or &idGoal=ecommerceOrder to get metrics about Ecommerce orders (number of orders, visits with an order, subtotal, tax, shipping, discount, revenue, items ordered)  See also the documentation about <a href='http:\/\/matomo.org\/docs\/tracking-goals-web-analytics\/' rel='noreferrer' target='_blank'>Tracking Goals<\/a> in Matomo.   "
    },
    {
      "name": "ImageGraph",
      "description": "  The ImageGraph.get API call lets you generate beautiful static PNG Graphs for any existing Matomo report. Supported graph types are: line plot, 2D\/3D pie chart and vertical bar chart.  A few notes about some of the parameters available:<br\/> - $graphType defines the type of graph plotted, accepted values are: 'evolution', 'verticalBar', 'pie' and '3dPie'<br\/> - $colors accepts a comma delimited list of colors that will overwrite the default Matomo colors <br\/> - you can also customize the width, height, font size, metric being plotted (in case the data contains multiple columns\/metrics).  See also <a href='https:\/\/developer.matomo.org\/api-reference\/reporting-api-metadata#static-image-graphs'>How to embed static Image Graphs?<\/a> for more information.   "
    },
    {
      "name": "Insights",
      "description": "  API for plugin Insights   "
    },
    {
      "name": "JsTrackerInstallCheck",
      "description": "  @internal  "
    },
    {
      "name": "LanguagesManager",
      "description": "  The LanguagesManager API lets you access existing Matomo translations, and change Users languages preferences.  \"getTranslationsForLanguage\" will return all translation strings for a given language, so you can leverage Matomo translations in your application (and automatically benefit from the <a href='https:\/\/matomo.org\/translations\/' rel='noreferrer' target='_blank'>40+ translations<\/a>!). This is mostly useful to developers who integrate Matomo API results in their own application.  You can also request the default language to load for a user via \"getLanguageForUser\", or update it via \"setLanguageForUser\".   "
    },
    {
      "name": "Live",
      "description": "  The Live! API lets you access complete visit level information about your visitors. Combined with the power of <a href='http:\/\/matomo.org\/docs\/analytics-api\/segmentation\/' target='_blank'>Segmentation<\/a>, you will be able to request visits filtered by any criteria.  The method \"getLastVisitsDetails\" will return extensive <a href='https:\/\/matomo.org\/guide\/apis\/raw-data\/'>RAW data<\/a> for each visit, which includes: server time, visitId, visitorId, visitorType (new or returning), number of pages, list of all pages (and events, file downloaded and outlinks clicked), custom variables names and values set to this visit, number of goal conversions (and list of all Goal conversions for this visit, with time of conversion, revenue, URL, etc.), but also other attributes such as: days since last visit, days since first visit, country, continent, visitor IP, provider, referrer used (referrer name, keyword if it was a search engine, full URL), campaign name and keyword, operating system, browser, type of screen, resolution, supported browser plugins (flash, java, silverlight, pdf, etc.), various dates & times format to make it easier for API users... and more!  With the parameter <a href='http:\/\/matomo.org\/docs\/analytics-api\/segmentation\/' rel='noreferrer' target='_blank'>'&segment='<\/a> you can filter the returned visits by any criteria (visitor IP, visitor ID, country, keyword used, time of day, etc.).  The method \"getCounters\" is used to return a simple counter: visits, number of actions, number of converted visits, in the last N minutes.  See also the documentation about <a href='http:\/\/matomo.org\/docs\/real-time\/' rel='noreferrer' target='_blank'>Real time widget and visitor level reports<\/a> in Matomo. You may also be interested in steps to <a href='https:\/\/matomo.org\/faq\/how-to\/faq_24536\/'>export your RAW data to a data warehouse<\/a>.   "
    },
    {
      "name": "Login",
      "description": "  API for plugin Login   "
    },
    {
      "name": "Marketplace",
      "description": "  The Marketplace API lets you manage your license key so you can download & install in one-click <a target=\"_blank\" rel=\"noreferrer\" href=\"https:\/\/matomo.org\/recommends\/premium-plugins\/\">paid premium plugins<\/a> you have subscribed to.   "
    },
    {
      "name": "MistralAI",
      "description": "  API for plugin MistralAI   "
    },
    {
      "name": "MobileMessaging",
      "description": "  The MobileMessaging API lets you manage and access all the MobileMessaging plugin features including :  - manage SMS API credential  - activate phone numbers  - check remaining credits  - send SMS   "
    },
    {
      "name": "MultiSites",
      "description": "  The MultiSites API lets you request the key metrics (visits, page views, revenue) for all Websites in Matomo.   "
    },
    {
      "name": "Optimize",
      "description": ""
    },
    {
      "name": "Overlay",
      "description": "  Class API   "
    },
    {
      "name": "PagePerformance",
      "description": "   "
    },
    {
      "name": "PrivacyManager",
      "description": "  API for plugin PrivacyManager   "
    },
    {
      "name": "ProfessionalServices",
      "description": ""
    },
    {
      "name": "Referrers",
      "description": "  The Referrers API lets you access reports about Websites, Search engines, Keywords, Campaigns used to access your website.  For example, \"getKeywords\" returns all search engine keywords (with <a href='https:\/\/developer.matomo.org\/api-reference\/reporting-api#api-response-metric-definitions' rel='noreferrer' target='_blank'>general analytics metrics<\/a> for each keyword), \"getWebsites\" returns referrer websites (along with the full Referrer URL if the parameter &expanded=1 is set). \"getReferrerType\" returns the Referrer overview report. \"getCampaigns\" returns the list of all campaigns (and all campaign keywords if the parameter &expanded=1 is set).   "
    },
    {
      "name": "Resolution",
      "description": "   "
    },
    {
      "name": "SEO",
      "description": "  The SEO API lets you access a list of SEO metrics for the specified URL: Google PageRank, Google\/Bing indexed pages and age of the Domain name.   "
    },
    {
      "name": "ScheduledReports",
      "description": "  The ScheduledReports API lets you manage Scheduled Email reports, as well as generate, download or email any existing report.  \"generateReport\" will generate the requested report (for a specific date range, website and in the requested language). \"sendReport\" will send the report by email to the recipients specified for this report.  You can also get the list of all existing reports via \"getReports\", create new reports via \"addReport\", or manage existing reports with \"updateReport\" and \"deleteReport\". See also the documentation about <a href='http:\/\/matomo.org\/docs\/email-reports\/' rel='noreferrer' target='_blank'>Scheduled Email reports<\/a> in Matomo.   "
    },
    {
      "name": "SegmentEditor",
      "description": "  The SegmentEditor API lets you add, update, delete custom Segments, and list saved segments.   "
    },
    {
      "name": "SitesManager",
      "description": "  The SitesManager API gives you full control on Websites in Matomo (create, update and delete), and many methods to retrieve websites based on various attributes.  This API lets you create websites via \"addSite\", update existing websites via \"updateSite\" and delete websites via \"deleteSite\". When creating websites, it can be useful to access internal codes used by Matomo for currencies via \"getCurrencyList\", or timezones via \"getTimezonesList\".  There are also many ways to request a list of websites: from the website ID via \"getSiteFromId\" or the site URL via \"getSitesIdFromSiteUrl\". Often, the most useful technique is to list all websites that are known to a current user, based on the token_auth, via \"getSitesWithAdminAccess\", \"getSitesWithViewAccess\" or \"getSitesWithAtLeastViewAccess\" (which returns both).  Some methods will affect all websites globally: \"setGlobalExcludedIps\" will set the list of IPs to be excluded on all websites, \"setGlobalExcludedQueryParameters\" will set the list of URL parameters to remove from URLs for all websites. The existing values can be fetched via \"getExcludedIpsGlobal\" and \"getExcludedQueryParametersGlobal\". See also the documentation about <a href='http:\/\/matomo.org\/docs\/manage-websites\/' rel='noreferrer' target='_blank'>Managing Websites<\/a> in Matomo.   "
    },
    {
      "name": "Swagger",
      "description": ""
    },
    {
      "name": "Tour",
      "description": "  API for Tour plugin which helps you getting familiar with Matomo.   "
    },
    {
      "name": "Transitions",
      "description": "   "
    },
    {
      "name": "TwoFactorAuth",
      "description": ""
    },
    {
      "name": "UserCountry",
      "description": "  The UserCountry API lets you access reports about your visitors' Countries and Continents.   "
    },
    {
      "name": "UserId",
      "description": "  API for plugin UserId. Allows to get User IDs table.   "
    },
    {
      "name": "UserLanguage",
      "description": "  The UserLanguage API lets you access reports about your Visitors language setting   "
    },
    {
      "name": "UsersManager",
      "description": "  The UsersManager API lets you Manage Users and their permissions to access specific websites.  You can create users via \"addUser\", update existing users via \"updateUser\" and delete users via \"deleteUser\". There are many ways to list users based on their login \"getUser\" and \"getUsers\", their email \"getUserByEmail\", or which users have permission (view or admin) to access the specified websites \"getUsersWithSiteAccess\".  Existing Permissions are listed given a login via \"getSitesAccessFromUser\", or a website ID via \"getUsersAccessFromSite\", or you can list all users and websites for a given permission via \"getUsersSitesFromAccess\". Permissions are set and updated via the method \"setUserAccess\". See also the documentation about <a href='http:\/\/matomo.org\/docs\/manage-users\/' rel='noreferrer' target='_blank'>Managing Users<\/a> in Matomo.  "
    },
    {
      "name": "VisitFrequency",
      "description": "  VisitFrequency API lets you access a list of metrics related to Returning Visitors.   "
    },
    {
      "name": "VisitTime",
      "description": "  VisitTime API lets you access reports by Hour (Server time), and by Hour Local Time of your visitors.   "
    },
    {
      "name": "VisitorInterest",
      "description": "  VisitorInterest API lets you access two Visitor Engagement reports: number of visits per number of pages, and number of visits per visit duration.   "
    },
    {
      "name": "VisitsSummary",
      "description": "  VisitsSummary API lets you access the core web analytics metrics (visits, unique visitors, count of actions (page views & downloads & clicks on outlinks), time on site, bounces and converted visits.   "
    }
  ],
  "paths": {
    "\/index.php?method=API.getMatomoVersion": {
      "post": {
        "tags": [
          "API"
        ],
        "requestBody": {
          "content": {
            "application\/json": {
              "schema": {
                "required": [],
                "properties": []
              }
            }
          }
        }
      }
    },
    "\/index.php?method=API.getPhpVersion": {
      "post": {
        "tags": [
          "API"
        ],
        "requestBody": {
          "content": {
            "application\/json": {
              "schema": {
                "required": [],
                "properties": []
              }
            }
          }
        }
      }
    },
    "\/index.php?method=API.getPiwikVersion": {
      "post": {
        "tags": [
          "API"
        ],
        "requestBody": {
          "content": {
            "application\/json": {
              "schema": {
                "required": [],
                "properties": []
              }
            }
          }
        }
      }
    },
    "\/index.php?method=API.getIpFromHeader": {
      "post": {
        "tags": [
          "API"
        ],
        "requestBody": {
          "content": {
            "application\/json": {
              "schema": {
                "required": [],
                "properties": []
              }
            }
          }
        }
      }
    },
    "\/index.php?method=API.getSettings": {
      "post": {
        "tags": [
          "API"
        ],
        "requestBody": {
          "content": {
            "application\/json": {
              "schema": {
                "required": [],
                "properties": []
              }
            }
          }
        }
      }
    },
    "\/index.php?method=API.getAvailableMeasurableTypes": {
      "post": {
        "tags": [
          "API"
        ],
        "requestBody": {
          "content": {
            "application\/json": {
              "schema": {
                "required": [],
                "properties": []
              }
            }
          }
        }
      }
    },
    "\/index.php?method=API.getSegmentsMetadata": {
      "post": {
        "tags": [
          "API"
        ],
        "requestBody": {
          "content": {
            "application\/json": {
              "schema": {
                "required": [
                  "_showAllSegments"
                ],
                "properties": {
                  "idSites": {
                    "name": "idSites",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "_hideImplementationData": {
                    "name": "_hideImplementationData",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "_showAllSegments": {
                    "name": "_showAllSegments",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "\/index.php?method=API.getMetadata": {
      "post": {
        "tags": [
          "API"
        ],
        "requestBody": {
          "content": {
            "application\/json": {
              "schema": {
                "required": [
                  "language",
                  "period",
                  "date",
                  "hideMetricsDoc",
                  "showSubtableReports"
                ],
                "properties": {
                  "idSite": {
                    "name": "idSite",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "apiModule": {
                    "name": "apiModule",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "apiAction": {
                    "name": "apiAction",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "apiParameters": {
                    "name": "apiParameters",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "language": {
                    "name": "language",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "period": {
                    "name": "period",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "date": {
                    "name": "date",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "hideMetricsDoc": {
                    "name": "hideMetricsDoc",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "showSubtableReports": {
                    "name": "showSubtableReports",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "\/index.php?method=API.getReportMetadata": {
      "post": {
        "tags": [
          "API"
        ],
        "requestBody": {
          "content": {
            "application\/json": {
              "schema": {
                "required": [
                  "period",
                  "date",
                  "hideMetricsDoc",
                  "showSubtableReports",
                  "idSite"
                ],
                "properties": {
                  "idSites": {
                    "name": "idSites",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "period": {
                    "name": "period",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "date": {
                    "name": "date",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "hideMetricsDoc": {
                    "name": "hideMetricsDoc",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "showSubtableReports": {
                    "name": "showSubtableReports",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "idSite": {
                    "name": "idSite",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "\/index.php?method=API.getProcessedReport": {
      "post": {
        "tags": [
          "API"
        ],
        "requestBody": {
          "content": {
            "application\/json": {
              "schema": {
                "required": [
                  "segment",
                  "apiParameters",
                  "idGoal",
                  "language",
                  "hideMetricsDoc",
                  "idSubtable",
                  "showRawMetrics",
                  "idDimension"
                ],
                "properties": {
                  "idSite": {
                    "name": "idSite",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "period": {
                    "name": "period",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "date": {
                    "name": "date",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "apiModule": {
                    "name": "apiModule",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "apiAction": {
                    "name": "apiAction",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "segment": {
                    "name": "segment",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "apiParameters": {
                    "name": "apiParameters",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "idGoal": {
                    "name": "idGoal",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "language": {
                    "name": "language",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "showTimer": {
                    "name": "showTimer",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "hideMetricsDoc": {
                    "name": "hideMetricsDoc",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "idSubtable": {
                    "name": "idSubtable",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "showRawMetrics": {
                    "name": "showRawMetrics",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "format_metrics": {
                    "name": "format_metrics",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "idDimension": {
                    "name": "idDimension",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "\/index.php?method=API.getReportPagesMetadata": {
      "post": {
        "tags": [
          "API"
        ],
        "requestBody": {
          "content": {
            "application\/json": {
              "schema": {
                "required": [],
                "properties": {
                  "idSite": {
                    "name": "idSite",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "\/index.php?method=API.getWidgetMetadata": {
      "post": {
        "tags": [
          "API"
        ],
        "requestBody": {
          "content": {
            "application\/json": {
              "schema": {
                "required": [],
                "properties": {
                  "idSite": {
                    "name": "idSite",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "\/index.php?method=API.get": {
      "post": {
        "tags": [
          "API"
        ],
        "requestBody": {
          "content": {
            "application\/json": {
              "schema": {
                "required": [
                  "segment",
                  "columns"
                ],
                "properties": {
                  "idSite": {
                    "name": "idSite",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "period": {
                    "name": "period",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "date": {
                    "name": "date",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "segment": {
                    "name": "segment",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "columns": {
                    "name": "columns",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "\/index.php?method=API.getRowEvolution": {
      "post": {
        "tags": [
          "API"
        ],
        "requestBody": {
          "content": {
            "application\/json": {
              "schema": {
                "required": [
                  "label",
                  "segment",
                  "column",
                  "language",
                  "idGoal",
                  "idDimension",
                  "labelSeries",
                  "showGoalMetricsForGoal"
                ],
                "properties": {
                  "idSite": {
                    "name": "idSite",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "period": {
                    "name": "period",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "date": {
                    "name": "date",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "apiModule": {
                    "name": "apiModule",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "apiAction": {
                    "name": "apiAction",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "label": {
                    "name": "label",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "segment": {
                    "name": "segment",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "column": {
                    "name": "column",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "language": {
                    "name": "language",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "idGoal": {
                    "name": "idGoal",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "legendAppendMetric": {
                    "name": "legendAppendMetric",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "labelUseAbsoluteUrl": {
                    "name": "labelUseAbsoluteUrl",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "idDimension": {
                    "name": "idDimension",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "labelSeries": {
                    "name": "labelSeries",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "showGoalMetricsForGoal": {
                    "name": "showGoalMetricsForGoal",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "\/index.php?method=API.getBulkRequest": {
      "post": {
        "tags": [
          "API"
        ],
        "requestBody": {
          "content": {
            "application\/json": {
              "schema": {
                "required": [],
                "properties": {
                  "urls": {
                    "name": "urls",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "\/index.php?method=API.isPluginActivated": {
      "post": {
        "tags": [
          "API"
        ],
        "requestBody": {
          "content": {
            "application\/json": {
              "schema": {
                "required": [],
                "properties": {
                  "pluginName": {
                    "name": "pluginName",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "\/index.php?method=API.getSuggestedValuesForSegment": {
      "post": {
        "tags": [
          "API"
        ],
        "requestBody": {
          "content": {
            "application\/json": {
              "schema": {
                "required": [],
                "properties": {
                  "segmentName": {
                    "name": "segmentName",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "idSite": {
                    "name": "idSite",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "\/index.php?method=API.getPagesComparisonsDisabledFor": {
      "post": {
        "tags": [
          "API"
        ],
        "requestBody": {
          "content": {
            "application\/json": {
              "schema": {
                "required": [],
                "properties": []
              }
            }
          }
        }
      }
    },
    "\/index.php?method=API.getGlossaryReports": {
      "post": {
        "tags": [
          "API"
        ],
        "requestBody": {
          "content": {
            "application\/json": {
              "schema": {
                "required": [],
                "properties": {
                  "idSite": {
                    "name": "idSite",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "\/index.php?method=API.getGlossaryMetrics": {
      "post": {
        "tags": [
          "API"
        ],
        "requestBody": {
          "content": {
            "application\/json": {
              "schema": {
                "required": [],
                "properties": {
                  "idSite": {
                    "name": "idSite",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "\/index.php?method=Actions.get": {
      "post": {
        "tags": [
          "Actions"
        ],
        "requestBody": {
          "content": {
            "application\/json": {
              "schema": {
                "required": [
                  "segment",
                  "columns"
                ],
                "properties": {
                  "idSite": {
                    "name": "idSite",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "period": {
                    "name": "period",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "date": {
                    "name": "date",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "segment": {
                    "name": "segment",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "columns": {
                    "name": "columns",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "\/index.php?method=Actions.getPageUrls": {
      "post": {
        "tags": [
          "Actions"
        ],
        "requestBody": {
          "content": {
            "application\/json": {
              "schema": {
                "required": [
                  "segment",
                  "expanded",
                  "idSubtable",
                  "depth",
                  "flat"
                ],
                "properties": {
                  "idSite": {
                    "name": "idSite",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "period": {
                    "name": "period",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "date": {
                    "name": "date",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "segment": {
                    "name": "segment",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "expanded": {
                    "name": "expanded",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "idSubtable": {
                    "name": "idSubtable",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "depth": {
                    "name": "depth",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "flat": {
                    "name": "flat",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "\/index.php?method=Actions.getPageUrlsFollowingSiteSearch": {
      "post": {
        "tags": [
          "Actions"
        ],
        "requestBody": {
          "content": {
            "application\/json": {
              "schema": {
                "required": [
                  "segment",
                  "expanded",
                  "idSubtable"
                ],
                "properties": {
                  "idSite": {
                    "name": "idSite",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "period": {
                    "name": "period",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "date": {
                    "name": "date",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "segment": {
                    "name": "segment",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "expanded": {
                    "name": "expanded",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "idSubtable": {
                    "name": "idSubtable",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "\/index.php?method=Actions.getPageTitlesFollowingSiteSearch": {
      "post": {
        "tags": [
          "Actions"
        ],
        "requestBody": {
          "content": {
            "application\/json": {
              "schema": {
                "required": [
                  "segment",
                  "expanded",
                  "idSubtable"
                ],
                "properties": {
                  "idSite": {
                    "name": "idSite",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "period": {
                    "name": "period",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "date": {
                    "name": "date",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "segment": {
                    "name": "segment",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "expanded": {
                    "name": "expanded",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "idSubtable": {
                    "name": "idSubtable",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "\/index.php?method=Actions.getEntryPageUrls": {
      "post": {
        "tags": [
          "Actions"
        ],
        "requestBody": {
          "content": {
            "application\/json": {
              "schema": {
                "required": [
                  "segment",
                  "expanded",
                  "idSubtable",
                  "flat"
                ],
                "properties": {
                  "idSite": {
                    "name": "idSite",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "period": {
                    "name": "period",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "date": {
                    "name": "date",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "segment": {
                    "name": "segment",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "expanded": {
                    "name": "expanded",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "idSubtable": {
                    "name": "idSubtable",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "flat": {
                    "name": "flat",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "\/index.php?method=Actions.getExitPageUrls": {
      "post": {
        "tags": [
          "Actions"
        ],
        "requestBody": {
          "content": {
            "application\/json": {
              "schema": {
                "required": [
                  "segment",
                  "expanded",
                  "idSubtable",
                  "flat"
                ],
                "properties": {
                  "idSite": {
                    "name": "idSite",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "period": {
                    "name": "period",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "date": {
                    "name": "date",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "segment": {
                    "name": "segment",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "expanded": {
                    "name": "expanded",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "idSubtable": {
                    "name": "idSubtable",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "flat": {
                    "name": "flat",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "\/index.php?method=Actions.getPageUrl": {
      "post": {
        "tags": [
          "Actions"
        ],
        "requestBody": {
          "content": {
            "application\/json": {
              "schema": {
                "required": [
                  "segment"
                ],
                "properties": {
                  "pageUrl": {
                    "name": "pageUrl",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "idSite": {
                    "name": "idSite",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "period": {
                    "name": "period",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "date": {
                    "name": "date",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "segment": {
                    "name": "segment",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "\/index.php?method=Actions.getPageTitles": {
      "post": {
        "tags": [
          "Actions"
        ],
        "requestBody": {
          "content": {
            "application\/json": {
              "schema": {
                "required": [
                  "segment",
                  "expanded",
                  "idSubtable",
                  "flat"
                ],
                "properties": {
                  "idSite": {
                    "name": "idSite",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "period": {
                    "name": "period",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "date": {
                    "name": "date",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "segment": {
                    "name": "segment",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "expanded": {
                    "name": "expanded",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "idSubtable": {
                    "name": "idSubtable",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "flat": {
                    "name": "flat",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "\/index.php?method=Actions.getEntryPageTitles": {
      "post": {
        "tags": [
          "Actions"
        ],
        "requestBody": {
          "content": {
            "application\/json": {
              "schema": {
                "required": [
                  "segment",
                  "expanded",
                  "idSubtable",
                  "flat"
                ],
                "properties": {
                  "idSite": {
                    "name": "idSite",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "period": {
                    "name": "period",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "date": {
                    "name": "date",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "segment": {
                    "name": "segment",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "expanded": {
                    "name": "expanded",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "idSubtable": {
                    "name": "idSubtable",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "flat": {
                    "name": "flat",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "\/index.php?method=Actions.getExitPageTitles": {
      "post": {
        "tags": [
          "Actions"
        ],
        "requestBody": {
          "content": {
            "application\/json": {
              "schema": {
                "required": [
                  "segment",
                  "expanded",
                  "idSubtable",
                  "flat"
                ],
                "properties": {
                  "idSite": {
                    "name": "idSite",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "period": {
                    "name": "period",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "date": {
                    "name": "date",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "segment": {
                    "name": "segment",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "expanded": {
                    "name": "expanded",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "idSubtable": {
                    "name": "idSubtable",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "flat": {
                    "name": "flat",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "\/index.php?method=Actions.getPageTitle": {
      "post": {
        "tags": [
          "Actions"
        ],
        "requestBody": {
          "content": {
            "application\/json": {
              "schema": {
                "required": [
                  "segment"
                ],
                "properties": {
                  "pageName": {
                    "name": "pageName",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "idSite": {
                    "name": "idSite",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "period": {
                    "name": "period",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "date": {
                    "name": "date",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "segment": {
                    "name": "segment",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "\/index.php?method=Actions.getDownloads": {
      "post": {
        "tags": [
          "Actions"
        ],
        "requestBody": {
          "content": {
            "application\/json": {
              "schema": {
                "required": [
                  "segment",
                  "expanded",
                  "idSubtable",
                  "flat"
                ],
                "properties": {
                  "idSite": {
                    "name": "idSite",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "period": {
                    "name": "period",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "date": {
                    "name": "date",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "segment": {
                    "name": "segment",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "expanded": {
                    "name": "expanded",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "idSubtable": {
                    "name": "idSubtable",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "flat": {
                    "name": "flat",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "\/index.php?method=Actions.getDownload": {
      "post": {
        "tags": [
          "Actions"
        ],
        "requestBody": {
          "content": {
            "application\/json": {
              "schema": {
                "required": [
                  "segment"
                ],
                "properties": {
                  "downloadUrl": {
                    "name": "downloadUrl",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "idSite": {
                    "name": "idSite",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "period": {
                    "name": "period",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "date": {
                    "name": "date",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "segment": {
                    "name": "segment",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "\/index.php?method=Actions.getOutlinks": {
      "post": {
        "tags": [
          "Actions"
        ],
        "requestBody": {
          "content": {
            "application\/json": {
              "schema": {
                "required": [
                  "segment",
                  "expanded",
                  "idSubtable",
                  "flat"
                ],
                "properties": {
                  "idSite": {
                    "name": "idSite",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "period": {
                    "name": "period",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "date": {
                    "name": "date",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "segment": {
                    "name": "segment",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "expanded": {
                    "name": "expanded",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "idSubtable": {
                    "name": "idSubtable",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "flat": {
                    "name": "flat",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "\/index.php?method=Actions.getOutlink": {
      "post": {
        "tags": [
          "Actions"
        ],
        "requestBody": {
          "content": {
            "application\/json": {
              "schema": {
                "required": [
                  "segment"
                ],
                "properties": {
                  "outlinkUrl": {
                    "name": "outlinkUrl",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "idSite": {
                    "name": "idSite",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "period": {
                    "name": "period",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "date": {
                    "name": "date",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "segment": {
                    "name": "segment",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "\/index.php?method=Actions.getSiteSearchKeywords": {
      "post": {
        "tags": [
          "Actions"
        ],
        "requestBody": {
          "content": {
            "application\/json": {
              "schema": {
                "required": [
                  "segment"
                ],
                "properties": {
                  "idSite": {
                    "name": "idSite",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "period": {
                    "name": "period",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "date": {
                    "name": "date",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "segment": {
                    "name": "segment",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "\/index.php?method=Actions.getSiteSearchNoResultKeywords": {
      "post": {
        "tags": [
          "Actions"
        ],
        "requestBody": {
          "content": {
            "application\/json": {
              "schema": {
                "required": [
                  "segment"
                ],
                "properties": {
                  "idSite": {
                    "name": "idSite",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "period": {
                    "name": "period",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "date": {
                    "name": "date",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "segment": {
                    "name": "segment",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "\/index.php?method=Actions.getSiteSearchCategories": {
      "post": {
        "tags": [
          "Actions"
        ],
        "requestBody": {
          "content": {
            "application\/json": {
              "schema": {
                "required": [
                  "segment"
                ],
                "properties": {
                  "idSite": {
                    "name": "idSite",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "period": {
                    "name": "period",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "date": {
                    "name": "date",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "segment": {
                    "name": "segment",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "\/index.php?method=Annotations.add": {
      "post": {
        "tags": [
          "Annotations"
        ],
        "requestBody": {
          "content": {
            "application\/json": {
              "schema": {
                "required": [],
                "properties": {
                  "idSite": {
                    "name": "idSite",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "date": {
                    "name": "date",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "note": {
                    "name": "note",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "starred": {
                    "name": "starred",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "\/index.php?method=Annotations.save": {
      "post": {
        "tags": [
          "Annotations"
        ],
        "requestBody": {
          "content": {
            "application\/json": {
              "schema": {
                "required": [],
                "properties": {
                  "idSite": {
                    "name": "idSite",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "idNote": {
                    "name": "idNote",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "date": {
                    "name": "date",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "note": {
                    "name": "note",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "starred": {
                    "name": "starred",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "\/index.php?method=Annotations.delete": {
      "post": {
        "tags": [
          "Annotations"
        ],
        "requestBody": {
          "content": {
            "application\/json": {
              "schema": {
                "required": [],
                "properties": {
                  "idSite": {
                    "name": "idSite",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "idNote": {
                    "name": "idNote",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "\/index.php?method=Annotations.deleteAll": {
      "post": {
        "tags": [
          "Annotations"
        ],
        "requestBody": {
          "content": {
            "application\/json": {
              "schema": {
                "required": [],
                "properties": {
                  "idSite": {
                    "name": "idSite",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "\/index.php?method=Annotations.get": {
      "post": {
        "tags": [
          "Annotations"
        ],
        "requestBody": {
          "content": {
            "application\/json": {
              "schema": {
                "required": [],
                "properties": {
                  "idSite": {
                    "name": "idSite",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "idNote": {
                    "name": "idNote",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "\/index.php?method=Annotations.getAll": {
      "post": {
        "tags": [
          "Annotations"
        ],
        "requestBody": {
          "content": {
            "application\/json": {
              "schema": {
                "required": [
                  "date",
                  "lastN"
                ],
                "properties": {
                  "idSite": {
                    "name": "idSite",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "date": {
                    "name": "date",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "period": {
                    "name": "period",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "lastN": {
                    "name": "lastN",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "\/index.php?method=Annotations.getAnnotationCountForDates": {
      "post": {
        "tags": [
          "Annotations"
        ],
        "requestBody": {
          "content": {
            "application\/json": {
              "schema": {
                "required": [
                  "lastN",
                  "getAnnotationText"
                ],
                "properties": {
                  "idSite": {
                    "name": "idSite",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
                  "date": {
                    "name": "date",
                    "in": "query",
                    "examples": [
                      "",
                      ""
                    ],
                    "schema": {
                      "type": "string"
                    }
                  },
[...]
